.button {
  background: var(--primary-color) url(/src/components/Button/images/slash.png)
    repeat 0 0/16px auto;
}

.fa-cloud-upload-alt {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 26px;
  color: var(--sub-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.link {
  text-decoration: none;
}
